/* === RESET GENERAL === */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-gravesend);
  font-weight: 300;
  line-height: 1.6;
  background-color: var(--color-bg);
  color: var(--color-white);
}

img,
video,
iframe {
  max-width: 100%;
  height: auto;
  display: block;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
