body {
  margin: 0;
  font-family: "nimbus-sans", sans-serif;
  background-color: #f2f2f2;
  color: #111;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 150px;
}

.hero {
  width: 100%;
  height: 100vh;
  background: url('assets/hero-nuevo-3.jpg') center/cover no-repeat;
}

.contador {
  text-align: center;
  margin: 3rem auto;
}

.contador .etiqueta {
  font-size: 1.2rem;
  margin: 0;
}

.contador .numero {
  font-family: 'Share Tech Mono', monospace;
  font-size: 5rem;
  margin: 0;
  color: #005baa;
}

.contador .leyenda {
  font-size: 1rem;
  margin: 0;
}

.noticias, .galeria, .videos {
  padding: 2rem;
}

.noticias h2, .galeria h2, .videos h2 {
  text-align: center;
  font-size: 2rem;
}

.caja-noticias, .grid-fotos, .video-boxes {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.noticia, .foto, .video {
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  width: 200px;
  height: 150px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
